
body[data-theme="theme1"] {
  --background: var(--cadet-grey);
  --elements : var(--chinese-black);
  --search-bar: var(--american-blue);
  --buttons: var(--ube);
  --cards-bg: var(--cool-grey);
}
[data-theme="theme2"] {
  --background: var(--chinese-black2);
  --elements : var(--yinmn-blue);
  --search-bar: var(--pale-cerulean);
  --buttons: var(--languid-lavander);
  --cards-bg: var(--ceil);
}
[data-theme="theme3"] {
  --background: var(--platinum);
  --elements : var(--thistle);
  --search-bar: var(--liberty);
  --buttons: var(--bleu-de-france);
  --cards-bg: var(--little-boy-blue);
}
[data-theme="theme4"] {
  --background: var(--eerie-black); 
  --elements : var(--deep-space-sparkle);
  --search-bar: var(--cadet-grey2);
  --buttons: var(--pewter-blue);
  --cards-bg: var(--brink-pink);
}
[data-theme="theme5"] {
  --background: var(--crimson);
  --elements : var(--bombshell);
  --search-bar: var(--sultry-scarlet);
  --buttons: var(--midnight-mischief);
  --cards-bg: var(--fiery-frenzy);
}
[data-theme="theme6"] {
  --background: var(--vapor-bg);
  --elements : var(--vapor-purple);
  --search-bar: var(--vapor-pink);
  --buttons: var(--vaporblue);
  --cards-bg: var(--vaporcyan);
}
[data-theme="theme7"] {
  --background: var(--steel-teal);
  --elements : var(--doolphin-grey);
  --search-bar: var(--french-beige);
  --buttons: var(--milk-chocolate);
  --cards-bg: var(--copper-red);
}
[data-theme="theme8"] {
  --background: black;
  --elements: #121212;
  --search-bar: #61616142;
  --buttons: whitesmoke;
  --cards-bg: #121212;
}



body{
    background-color: var(--background);
    box-sizing: border-box;
    font-family: var(--font-dm-sans);
    margin: 0 20px 0 0 ;
}

header{
    margin: 10px 10px 10px  var(--sidebar-width);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--elements);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .arrow-button{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    align-items: center;
}

header .arrow-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

header .search-bar{
    display: flex;
    align-items: center;
    width: 32rem;
    height: 4.8rem;
    background-color: var(--search-bar);
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 4px 10px;
}

header .search-bar img {
    height: 40%;
}

header .search-bar:hover {
    border: 1px solid white;
}

header .search-bar input{
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    padding: 0 0 0 12px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

header .header-login{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 3.2rem;
}


header .header-login h3 {
    font-size: 1.6rem !important;
    font-weight: 700;
    color: var(--text-grey);
    background-color: transparent;
}

header .header-login img{
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

header .header-login .subscribe:hover {
  transform: scale(1.04);
  color: var(--text-base-light);
}

header .header-login #theme-button{
    width: 100px;
    height: 48px;
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 100px;
    background-color: var(--buttons);
    padding: 1px 4px;
    cursor: pointer;
    border: none;
}

header .header-login #theme-button:hover {
    transform: scale(1.04);
}

main #theme-selection {
  display: none;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  z-index: 1;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  right: 0;
  top: 0;
  margin : 150px 40px 0 0;
  padding: 16px;
  border: none;
  border-radius: 8px;
}

main #theme-selection .theme-option{
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: currentColor;
  cursor: pointer
}

main #theme-selection #button-theme1{
  background-color: var(--chinese-black);
}
main #theme-selection #button-theme2{
  background-color: var(--chinese-black2);
}
main #theme-selection #button-theme3{
  background-color: var(--platinum);
}
main #theme-selection #button-theme4{
  background-color: var(--eerie-black);
}
main #theme-selection #button-theme5{
  background-color: var(--crimson);
}
main #theme-selection #button-theme6{
  background-color: var(--vapor-bg);
}
main #theme-selection #button-theme7{
  background-color: var(--steel-teal);
}
main #theme-selection #button-theme8{
  background-color: var(--background);
}


main {
    margin: 10px 10px 10px  var(--sidebar-width);
    border-radius: 10px;
    padding: 4px 4px 10px 4px;
    background-color: var(--elements);
}
   
main #greeting {
    color: var(--text-grey);
    font-size: 4rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    margin: 16px 24px 36px 24px;
}
  
main .session {
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 24px;
}
  

main #playlist-cards {
    display: grid; 
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    max-height: 43vh;
    margin: 24px 24px 24px 24px;
    overflow-y:auto;
    background-color: var(--cards-bg);
    padding: 12px;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(10px) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
main #playlist-cards::-webkit-scrollbar {
    width: 1px;
}
  
main #playlist-cards::-webkit-scrollbar-thumb {
    background-color: transparent;
}


main #playlist-cards .cards {
    position: relative; 
    width: 198px;
    height: 180px;
    overflow: hidden;
    border-radius: 8px;
}
  
main #playlist-cards .cards span {
    padding: 16px;
    position: absolute;
    color: var(--text-base-light);
    font-size: 2.4rem;
    font-weight: 700;
}  
  /* COLOR CARDS */
main #playlist-cards #card1 {
    background: var(--card1);
}

main #playlist-cards #card2 {
    background: var(--card2);
}

main #playlist-cards #card3 {
    background: var(--card3);
}

main #playlist-cards #card4{
    background: var(--card4);
}

main #playlist-cards #card5 {
    background: var(--card5);
}

main #playlist-cards #card6 {
    background: var(--card6);
}

main #playlist-cards #card7 {
    background: var(--card7);
}

main #playlist-cards #card8 {
    background: var(--card8)
}

main #playlist-cards #card9 {
    background: var(--card9)
}

main #playlist-cards #card10 {
    background: var(--card10)
}

main #playlist-cards #card11 {
    background: var(--card11)
}

main #playlist-cards #card12 {
    background:var(--card12)
}

main #playlist-cards #card13 {
    background: var(--card13)
}

main #playlist-cards #card14 {
    background: var(--card14);
}

main #playlist-cards #card15 {
    background: var(--card15);
}

main #playlist-cards img {
    position:absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);

}
  
  
/* CARD ARTISTA */
  
  .artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
  }
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }
  /* FIM CARD ARTISTA */
  
