@media screen and (max-width: 1280px) {
     main .playlist-cards{
        grid-template-columns: 1fr 1fr 1fr;
      }


}

@media screen and (max-width: 1015px) {
    header .search-bar {
      width: auto !important;
      display: none;
    }
  

  
    main .playlist-cards {
      grid-template-columns: 1fr 1fr !important;
    }
  }
  
  
@media screen and (max-width: 826px) {
    :root{
      font-size: 50%;
      --sidebar-width: 30%;
    }
  

    main .playlist-cards .cards {
      width: 132px;
      height: 120px;
      overflow: hidden;
      border-radius: 8px;
    }

    main .playlist-cards .cards img{
      width: 70px;
    }

}

@media screen and (max-width: 555px) {
    :root{
      font-size: 35%;
    }
}

@media screen and (max-width: 520px) {
  header {
    flex-direction: column;
  }
  header .header-login .login{
    width: 50px;
    height: 24px;
  }
  main .playlist-cards{
    grid-template-columns: 1fr !important;
  }
  footer{
    flex-direction: column;
  }

}